{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-syntax-jsx",
    "@babel/plugin-transform-react-display-name",
    "@babel/plugin-transform-react-jsx",
    "transform-es2015-modules-commonjs"
  ]
}
