<!DOCTYPE html>
<html>
  <head>
    <title>ReactiveRecord</title>
    <%= stylesheet_pack_tag "application" %>
  </head>
  <body>
    <%= react_component("Application") %>
    <%= javascript_pack_tag "application" %>
  </body>
</html>