<!DOCTYPE html><%= react_component(
                     "Root",
                     {
                       location: request.fullpath,
                       INITIAL_STATE: @INITIAL_STATE,
                       applicationSrc: asset_pack_path("application.js")
                     },
                     prerender: :static
                   )
                    .sub(/<[^>]*>/,"")
                    .chomp("</div>")
                    .html_safe %>